<div class="col-10 mx-auto mt-4">

    <div class="col-sm-10 col-md-4 mx-auto">

        
        <input value={{this.query}} class="search-item mt-3" placeholder="Search For Food Item">

       
    </div>
    
    <div class="row gy-3 gx-3">
    
        {{#each @products as |product|}}
        <Card @product={{product}} />
        {{/each}}
        
    </div>

</div>