
    <div class="container-fluid col-12 mx-auto nav-bar1 header">

   <nav class=" navbar navbar-expand-lg navbar-light">
    <div class="col-10">
    <LinkTo class="brand-logo navbar-brand justify-content-center text-white" @route="index">Rachana's Kitchen</LinkTo>
    </div>

    
        

            
           
        <div class="col-2">
        <LinkTo class="btn cart-btn shadow btn-light btn-outline-dark" @route='cart'>
        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            <path fill-rule="evenodd"
                d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
            <span>Cart</span>
            {{#if this.cart.cartList.length}}
            <span class="home-cart-count d-inline-flex justify-content-center align-items-center">
            {{this.cart.cartList.length}}
            </span>
            {{/if}}
        </LinkTo>
        </div>
        
    
</nav>

</div>